#eclipse
*/.settings/
*/.project
*/.classpath
.settings
.project
.classpath
.springBeans
.tern-project
.metadata
#idea
*/.idea/
.idea/
*.iml
*.ipr
*.iws
Servers/
#maven ignore
target/
*/target/
*/classes/
*.class

#package file
*.war
*.ear

#temp file
*.log
*.cache
*.diff
*.patch
*.tmp

#system ignore
.DS_Store
Thumbs.db
*/bin
